In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [4]:
data = pd.read_csv('data.csv')

In [5]:
data = data.dropna()

In [6]:
data

,Formatted Date,Precipitation,Precipitation_Name,Summery,Temperature,Apparent Temperature (C),Humidity,Vegetation_cover,Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,17,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,16 throughout the day.
1,2006-04-01 01:00:00.000 +0200,17,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,16 throughout the day.
2,2006-04-01 02:00:00.000 +0200,18,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,16 throughout the day.
3,2006-04-01 03:00:00.000 +0200,17,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,16 throughout the day.
4,2006-04-01 04:00:00.000 +0200,18,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,16 throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,17,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31,16.1000,0,1014.36,16 starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,17,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20,15.5526,0,1015.16,16 starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,17,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30,16.1000,0,1015.66,16 starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,17,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20,16.1000,0,1015.95,16 starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,17,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39,15.5204,0,1016.16,16 starting in the morning.

In [7]:
q1 = data.quantile(0.25)
q3 = data.quantile(0.75)
iqr = q3 - q1
iqr

Precipitation                 4.000000
Temperature                  14.240278
Apparent Temperature (C)     16.568056
Humidity                      0.290000
Vegetation_cover              8.339800
Wind Bearing (degrees)      174.000000
Visibility (km)               6.440000
Loud Cover                    0.000000
Pressure (millibars)          9.160000
dtype: float64

In [8]:
data = data[~((data < (q1 - 1.5 * iqr)) | (data > (q3 + 1.5 * iqr))).any(axis=1)]

In [9]:
data

,Formatted Date,Precipitation,Precipitation_Name,Summery,Temperature,Apparent Temperature (C),Humidity,Vegetation_cover,Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,17,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,16 throughout the day.
1,2006-04-01 01:00:00.000 +0200,17,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,16 throughout the day.
2,2006-04-01 02:00:00.000 +0200,18,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,16 throughout the day.
3,2006-04-01 03:00:00.000 +0200,17,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,16 throughout the day.
4,2006-04-01 04:00:00.000 +0200,18,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,16 throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,17,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31,16.1000,0,1014.36,16 starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,17,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20,15.5526,0,1015.16,16 starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,17,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30,16.1000,0,1015.66,16 starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,17,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20,16.1000,0,1015.95,16 starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,17,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39,15.5204,0,1016.16,16 starting in the morning.

In [10]:
#Convert the data into a format that can be used with a specific machine learning library
X = data.drop('Precipitation', axis=1).values
Y = data['Precipitation'].values

In [11]:
X

array([['2006-04-01 00:00:00.000 +0200', 'Partly Cloudy', 'rain', ..., 0,
        1015.13, '16 throughout the day.'],
       ['2006-04-01 01:00:00.000 +0200', 'Partly Cloudy', 'rain', ..., 0,
        1015.63, '16 throughout the day.'],
       ['2006-04-01 02:00:00.000 +0200', 'Mostly Cloudy', 'rain', ..., 0,
        1015.94, '16 throughout the day.'],
       ...,
       ['2016-09-09 21:00:00.000 +0200', 'Partly Cloudy', 'rain', ..., 0,
        1015.66, '16 starting in the morning.'],
       ['2016-09-09 22:00:00.000 +0200', 'Partly Cloudy', 'rain', ..., 0,
        1015.95, '16 starting in the morning.'],
       ['2016-09-09 23:00:00.000 +0200', 'Partly Cloudy', 'rain', ..., 0,
        1016.16, '16 starting in the morning.']], dtype=object)

In [12]:
Y

array([17, 17, 18, ..., 17, 17, 17], dtype=int64)

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [14]:
data = pd.get_dummies(data, columns=['Temperature'])

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Humidity'] = le.fit_transform(data['Humidity'])

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data[['Humidity','Vegetation_cover']] = scaler.fit_transform(data[['Humidity','Vegetation_cover']])

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data[['Humidity','Vegetation_cover']] = scaler.fit_transform(data[['Humidity','Vegetation_cover']])

In [18]:
#Data formating with preprocessing steps

In [19]:
import pandas as pd
import numpy as np

In [20]:
# Load the data into a pandas DataFrame
data = pd.read_csv('data.csv')

In [21]:
# Remove any rows with missing values
data = data.dropna()

In [22]:
# Remove any outliers using the interquartile range method
q1 = data.quantile(0.25)
q3 = data.quantile(0.75)
iqr = q3 - q1
data = data[~((data < (q1 - 1.5 * iqr)) | (data > (q3 + 1.5 * iqr))).any(axis=1)]

In [23]:
# Handle categorical variables
# One hot encoding
data = pd.get_dummies(data, columns=['Temperature','Humidity'])

In [24]:
# Label encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Vegetation_cover'] = le.fit_transform(data['Vegetation_cover'])

In [25]:
# Scale numerical variables
# Min-max scaling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data[['Vegetation_cover','Pressure (millibars)']] = scaler.fit_transform(data[['Vegetation_cover','Pressure (millibars)']])

In [26]:
#Standardization 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data[['Vegetation_cover','Pressure (millibars)']] = scaler.fit_transform(data[['Vegetation_cover','Pressure (millibars)']])